// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  margin: 0; // Ingen kanter i siden af browser
}

.morphext > .animated {
  display: inline-block;
}

.picture{

  background: url(" ../images/billede.jpg") center;
  width: 100%;
  height: 600px;
  background-size: cover;

}

.text{
  color: #ffffff;
  font-family: "Goudy Old Style";
  width: 99%;
  font-size: 40pt;
  padding-top: 220pt;
  text-align: center;
  line-height: 24pt;
}

.j_text{
  font-family: "goudy old style";
  color: #781616;
  width: 99%;
  font-size: 22pt;
  text-align: center;
  text-space: length(20px);
  padding-top: 3pt;
}

.text2{
  font-family: "Goudy Old Style";
  color: #781616;
  font-size: 22px;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

article{
  width: 80%;
  float: left;
  margin: auto;
  line-height: 50px;
}

article2 {
  width: 80%;
  float: right;
  margin: auto;
  line-height: 50px;
}


article3 {
  width: 80%;
  float: right;
  margin: auto;
  line-height: 50px;
}

h2{
  font-family: " Goudy Old Style";
  color: #781616;
  font-weight: 300;
}

p{
  font-family: Arial;
  font-size: 17px;
  line-height: 24px;
}

.knap{
  width: 100px;
  height: 35px;
  background-color: #781616;
  font-family: Arial;
  font-size: 13px;
  color: white;
  border-radius: 5px;
}

.knap:hover{
  background-color: #9a3d3d;

}

img:hover {
  opacity: 0.8;
  background-color: #9a3d3d;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
a:hover .visually-hidden,
a:focus .visually-hidden,
button:hover .visually-hidden,
button:focus .visually-hidden {
  position: relative;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
  .flex-container {
    display: flex;
    flex-direction: row;
  }

  article{
    width: 48%;
    padding-left: 9%;
  }

  article2{
    width: 48%;
    padding-right: 9%;
    margin: inherit;
  }

}

image:hover{
  background-color: floralwhite;
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
}

@media print {
  // Alt der gælder for print specifikt
}