// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

$red: #781616;

body {
  margin: 0; // Ingen kanter i siden af browser
  display: grid;
  grid-template-rows: 150px 500px auto auto 200px 200px;
  grid-template-columns: 1fr;
}

h1 {
  font-family: "Goudy Old Style", "Times New Roman", Serif;
  color: black;
  text-align: center;
  font-size: 25pt;
}

h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 10px 10px 10px 10px; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
  font-family: Arial, sans-serif;
  font-size: 12pt;
  line-height: 16pt;
  text-align: center;
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

header {
  grid-row: 1;
}

.index {
  grid-row: 2;
}


//Casper start-----------------------------------------------

.products {
  grid-row: 3;
  display: grid;
  grid-template-rows: 50px auto auto auto;
}

.productsgrid {
  grid-row: 2;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr;
}

.productstext1 .productstext2 .productstext3 {
  height: auto;
  width: auto;
  display: block;
}

.productscabernet {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 60px;
}

.flaskecabernetsauvignont {
  height: 500px;
  margin-bottom: 25px;
}


.productstempranillo {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.flasketempranillo {
  height: 500px;
  margin-bottom: 25px;
}


.productschardonnay {
  grid-row: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.flaskechardonnaypng {
  height: 500px;
  margin-bottom: 25px;
}




//About us - Dominio de Pontas
.about_us {
  grid-row: 4;
}

.dominio-grid {
  display: grid;
  grid-template-rows: repeat(8, 80px);
  grid-template-columns: repeat(14, 1fr);
}

.about_us img {
  grid-row: 1 / span 8;
  grid-column: 1 / span 14;
  width:100%;
  height:100%;
}

.dominio-grid h1 {
  grid-row: 1 / span 1;
  grid-column: 1 / span 14;
  margin-top: 45px;
  color: white;
}

.p-mobile {
  grid-row: 2 / span 3;
  grid-column: 2 / span 12;
  color: white;
  text-align: center;
  margin-top: 45px;
}

* {box-sizing:border-box}

// Slideshow container
.slideshow-container {
  grid-row: 5 / span 3;
  grid-column: 2 / span 12;
}

// Hide the images by default
.mySlides {
  display: block;
}

// Next & previous buttons
.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
}

//Position "previous button"
.prev {
  grid-row: 6;
  grid-column: 1 / span 2;
}

//Position "next button"
.next {
  grid-row: 6;
  grid-column: 13 / span 2;
}

// On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: #d5d5d5;
}

.history {
  grid-row: 5;
}

.footer {
  grid-row: 6;
}



@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående

  //Casper start-----------------------------------------------

  .products {
    grid-row: 3;
    display: grid;
    grid-template-rows: 50px auto auto auto;
  }

  .productsgrid {
    grid-row: 2;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
  }


  /* HOVER OVER I CSS:
    .productsgrid :hover {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    background-color: rgba(78, 16, 16, 0.85);
    display: block;
    position: absolute;
  }
  */

  #productstext1 {
    display: none;
  }

  #productstext2 {
    display: none;
  }

  #productstext3 {
    display: none;
  }

  .productscabernet {
    grid-row: 1;
    grid-column: 1;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 60px;
  }

  .productscabernet:hover #productstext1 {
    grid-row: 1;
    grid-column: 1;
    height: auto;
    width: auto;
    display: flex;
    background-color: rgba(78, 16, 16, 0.85);
    position: absolute;
    color: white;
    text-align: left;
    padding: 30px;
  }


  .flaskecabernetsauvignont {
    height: 500px;
    margin-bottom: 25px;
  }



  .productstempranillo {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 60px;
  }



  .flasketempranillo {
    height: 500px;
    margin-bottom: 25px;
  }


  .productschardonnay {
    grid-row: 1;
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 60px;

  }

  .flaskechardonnaypng {
    height: 500px;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
}

@media print {
  // Alt der gælder for print specifikt
}