* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  display: grid;
  grid-template-rows: 60px auto auto auto auto auto;
  grid-template-columns: 1fr;
  }

h1 {
  font-family: "Goudy Old Style", "Times New Roman", Serif;
  text-align: center;
  font-size: 25pt;
  font-weight: normal; }

h2 {
  font-family: "Goudy Old Style", "Times New Roman", Serif;
  font-size: 23pt;
}

h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h3{
  font-size: 14px;
  font-weight: 300;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-position: inside; }

p {
  margin: 10px 10px 10px 10px;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 12pt;
  line-height: 16pt;
}

p a {
  color: #781616;
  text-decoration: none;
  font-weight: bold;
}

p a:hover {
  color: #9a3d3d;
}

img {
  display: block;
  max-width: 100%;
  height: auto; }

li {margin: 0; }

//Sass----------------------------------------------
//Variabler for farver
 $red: #781616;
 $redhover: #9a3d3d;
 $yellow: #f59c24;
 $yellowhover: #f6d452;

 $redoverlay: rgba(78, 16, 16, 0.85);


@mixin tekstplaceringweb {
  grid-row: 1;
  grid-column: 2;
}

//Mixin - form størrelse
@mixin form{width: 300px; height: 30px;}

//Mixin - Input felt størrelse
@mixin input{
  width: 100%;
  height: 100%;
  background-color: #d5d5d5;
  color: #000000;
  padding-left: 5px;
  border: 0;
  -webkit-appearance: none;
  outline: 5px auto #5d5d5d;}
//Sass slut ---------------------------------------------------------

//Oliver start-------------------------------------------------------
header {
  grid-row: 1; }

.h_place {
  z-index: 10;
  position: fixed;
  width: 100%; }

.h_grid {
  background-color: white;
  height: 54px;
  padding-top: 1px; }

.h_logo {
  background-size: cover;
  height: 50px;
  width: 100px;
  margin: 6px 0 0 2px; }

#home {
  height: 100%;
  width: 100%; }

.dropdown {
  position: relative; }

.fa-bars {
  color: #781616; }

.dropdown_btn {
  position: absolute;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  right: 12px;
  top: 7px; }

.dropdown_btn:hover {
  cursor: pointer; }

.h_content {
  display: none;
  position: absolute;
  z-index: 3;
  min-width: 80%;
  top: 50px;
  right: 0;
  background-color: white;
  outline: 5px auto #5d5d5d;
}

.h_content a {
  color: black;
  padding: 10px;
  margin: auto;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  display: block;
  font-family: "Goudy Old Style", Times New Roman; }

.h_content a:hover {
  color: #781616;
  font-weight: bold; }

/*
.dropdown:hover .h_content {
  display: block; }
*/
.h_subscribe {
  display: none; }
//Oliver slut--------------------------------------------------------

//Cecilie Start--------------------------------------------------------
.index {
  grid-row: 2; }

.img {
  background-image: url(../images/indexbillede.jpg);
}

.i_grid{
  display: grid;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: 1fr;
}

.i_billede{
  background: url("../images/indexbillede.jpg") center no-repeat;
  width: 100%;
  height: 200%;
  background-size: cover;
}

.i_tekst{
  color: white;
  font-family: "Goudy Old Style";
  width: 99%;
  font-size: 14pt;
  padding-top: 80pt;
  text-align: center;
  line-height: 24pt;
  padding-bottom: 60px;

  grid-row: 1 / span 1;
  grid-column: 3 / span 14;
  margin: 0 auto 0 auto;
}

.knap{
  height: 40px;
  background-color: #781616;
  font-family: Arial;
  font-size: 15px;
  color: white;
  border-radius: 5px;
  margin-left: 30%;
  margin-right: 30%;
  border: none;
  margin-bottom: 30px;
}

.knap:hover{
  background-color: #9a3d3d;
}
//Cecilie Slut--------------------------------------------------------

//Casper start--------------------------------------------------------
.products {
  grid-row: 3;
  display: grid;
  grid-template-rows: 50px auto auto auto; }

.productsgrid {
  grid-row: 2;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr; }

.productstext1 .productstext2 .productstext3 {
  height: auto;
  width: auto;
  display: block; }

.productscabernet {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mereomcabernetsauvignon {
  display: none;
}

.flaskecabernetsauvignont {
  height: 500px;
  margin-bottom: 25px; }

.productstempranillo {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mereomtempranillo {
  display: none;
}

.flasketempranillo {
  height: 500px;
  margin-bottom: 25px; }

.productschardonnay {
  grid-row: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mereomchardonnay {
  display: none;
}

.flaskechardonnaypng {
  height: 500px;
  margin-bottom: 25px; }


/* VINE UNDERSIDE */
.VINEcabernetsauvignont {
  display: grid;
  grid-row: 2;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  background: url("../images/grapes2mobile2.jpg") center no-repeat;
}

.VINEflaskecabernet {
  display: flex;
  grid-row: 1;
  grid-column: 1;
  justify-content: center;
  align-items: center;
  padding: 30px 0 30px 0;
}

.VINEtekstcabernet {
  display: flex;
  grid-row: 2;
  color: white;
  padding: 0 0 20px 0;
  align-items: center;
}

.VINEdropdowncabernet {
  display: none;
}

.VINEtempranillo {
  display: grid;
  grid-row: 3;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

.VINEflasketempranillo {
  display: flex;
  grid-row: 1;
  grid-column: 1;
  justify-content: center;
  align-items: center;
  padding: 30px 0 30px 0;
}

.VINEteksttempranillo {
  display: flex;
  grid-row: 2;
  padding: 0 0 20px 0;
  align-items: center;
}

.VINEdropdowntempranillo {
  display: none;
}

.VINEchardonnay {
  display: grid;
  grid-row: 4;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  background: url("../images/grapes7mobile2.jpg") center no-repeat;
}

.VINEflaskechardonnay {
  display: flex;
  grid-row: 1;
  grid-column: 1;
  justify-content: center;
  align-items: center;
  padding: 30px 0 30px 0;
}

.VINEtekstchardonnay {
  display: flex;
  grid-row: 2;
  padding: 0 0 20px 0;
  align-items: center;
}

.VINEdropdownchardonnay {
  display: none;
}
//Casper slut---------------------------------------------------------

//Sabine start-------------------------------------------------------
.about_us {
  grid-row: 4;
  background: url("../images/dominiooverlay.jpg") center no-repeat;
}

.dominio-grid {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: $redoverlay;
}

.dominio-grid h1 {
  grid-row: 1;
  grid-column: 1 / span 4;
  margin-top: 45px;
  color: white; }

.p-mobile {
  grid-row: 3;
  grid-column: 2 / span 2;
  color: white;
  margin-top: 45px;
  margin-bottom: 45px;
}
//Sabine slut--------------------------------------------------

//Slideshow - (Casper)
.slider-demoMobile {
  grid-column: 1 / span 4;
  height: auto;
  width: auto;
}

.slider-demo768og992 {
  display: none;
}

.slider-demo1200 {
  display: none;
}

//Oliver start--------------------------------------------------
.history {
  grid-row: 5; }

.his_grid {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 80px 115px 2fr 50px;
  height: 100%;
  width: 100%; }

.his_head {
  grid-column: 2;
  grid-row: 1; }

.his_head h1 {
    color: #000000; }

.history_read {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  grid-row: 4;
  grid-column: 2/3;
  text-decoration: none;

  button {
    text-align: center;
    font-family: Arial;
    color: white;
    background-color: $red;
    border-radius: 2px;
    border: none;
  }

  button:hover {
    cursor: pointer;
    background-color: $redhover;
  }
}

.his_pic_flex {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: space-evenly; }

@mixin pic_prop {
  background-size: contain;
  width: 100%;
  height: 100%;
  margin: auto 3px auto 3px;
}

.his_pic1 {
  background: url("../images/vin1.jpeg") center no-repeat;
  @include pic_prop;
}

.his_pic2 {
  background: url("../images/vin2.jpeg") center no-repeat;
  @include pic_prop;
}

.his_pic3 {
  background: url("../images/vin3.jpeg") center no-repeat;
  @include pic_prop;
}

.his_text_flex {
  grid-column: 2;
  grid-row: 3; }

.his_text1, .his_text2 {
  margin-top: 12px; }
  .his_text1 p, .his_text2 p {
    font-family: Arial;
    font-size: 15px;
    text-align: center;
  }

.history_side {
  position: relative;
  grid-row: 2/6;
  grid-column: 1;
}

.hu_pics {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-evenly;
  margin-top: 18px;
}

.hu_pic1 {
background: url("../images/vin1.jpg") no-repeat center;;
}

.hu_pic2 {
  background: url("../images/vin2.jpg") no-repeat center;;
}

.hu_pic3 {
  background: url("../images/vin3.jpg") no-repeat center;;
}

.hu_pic1, .hu_pic2, .hu_pic3 {
  height: 70px;
  width: 70px;
  margin: auto 3px auto 3px;
  background-size: contain;
}

.hu_text1{
  font-family: Arial;
  font-size: 15px;
  text-align: center;

  p {
    line-height: 24px;
  }
}
//Oliver slut---------------------------------------------

//Cecilie start---------------------------------------------
footer{
  background-color: #781616;
  color: white;
  line-height: 12pt;
  font-family: "Goudy Old Style";
  grid-row: 6;
}

.informationer{
  font-size: 12px;
  float: left;
}

.SoMe{
  float: right;
  text-align: center;
  font-size: 25px;
}

.Nederst{
  width: 75%;
  margin: 0 auto;
}

.Forhandlere{
  margin: 10% auto;
  width: 30%;
}
//Cecilie slut---------------------------------------------

//Btn til top start (Sabine) -----------------------------
#btn {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 60px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: $yellow;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  font-size: 40px;
  text-align: center;
  padding-top: 5px;
}

#btn:hover {
  background-color: $yellowhover;
}
//Btn til top slut (Sabine) ------------------------------

//Kontakt start (Sabine)----------------------------------
#contact-grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(8, 1fr);
  grid-row: 2 / span 4;
}

.contact-img {
  visibility: hidden;
}

.contact-txt {
  grid-row: 1;
  grid-column: 1 / span 8;
  margin: 0;
}

.contact-txt h1, .contact-txt p {
  text-align: left;
  margin: 0 20px 0 20px;
}

form {
  grid-column: 1 / span 8;
  grid-row: 2;
  margin: 40px 0 50px 20px;
}

.contact-form input, textarea{
  @include input;
  @include form;
  margin-bottom: 10px;
}

textarea {
  border: none;
  min-width: 150px;
  font-family: Arial;
}

.radio {
  font-family: Arial;
  font-size: 10pt;
  margin-bottom: 10px;
}

.radio p {
  font-size: 10pt;
  margin: 8px 0 0 0;
  text-align: left;
}

.sub_button {
  text-align: center;
  font-family: Arial;
  color: white;
  background-color: $red;
  border-radius: 2px;
  border: none;
  width: 150px;
  height: 30px;
  margin-right: 15px;
}

.sub_button:hover {
  cursor: pointer;
  background-color: $redhover;
}
//Kontakt slut (Sabine)-----------------------------------

//Fejl-404-side start (Sabine)----------------------------
.error-page {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: repeat(6, 1fr); }

.error-page h1 {
  grid-row: 1 / span 1;
  grid-column: 2 / span 4;
  color: $red;
  text-align: center;
  font-size: 100px;
  margin: 30px 0 0 0; }

.error-page h3 {
  grid-row: 2 / span 1;
  grid-column: 2 / span 4;
  text-align: center;
  font-family: Arial;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 20px; }

.error {
  grid-row: 3 / span 2;
  grid-column: 1 / span 6; }

.error-page p {
  grid-row: 5 / span 1;
  grid-column: 2 / span 4;
  text-align: center;
  margin-top: 25px; }

.error-button {
  grid-row: 6 / span 1;
  grid-column: 2 / span 4;
  text-align: center;
  font-family: Arial;
  color: white;
  background-color: $red;
  border-radius: 2px;
  border: none;
  width: 170px;
  height: 30px;
  margin: 0 auto;
  margin-top: 8px; }

.error-button:hover {
  background-color: $redhover; }

.error-page a {
  text-decoration: none;
  color: white; }
//Fejl-404-side slut (Sabine)-----------------------------

/*Stående tablet*/
@media screen and (min-width: 768px) {
//Sabine start -------------------------------------------------
.p-mobile {
  grid-row: 6 / span 2;
  grid-column: 3 / span 10;
  text-align: center; }
//Sabine slutt -------------------------------------------------

  //Slideshow (Casper)
  .slider-demoMobile {
    display: none;
  }

  .slider-demo768og992 {
    display: grid;
    grid-column: 2 / span 2;
    height: auto;
    width: auto;
  }

//Kontakt start (Sabine)---------------------------------
  .contact-img {
    grid-row: 1;
    grid-column: 1 / span 8;
    visibility: visible;
    width: 100%;
    margin: 0 auto;
  }

  .contact-txt {
    grid-row: 2;
    grid-column: 2 / span 3;
    margin-top: 30px;
  }

  form {
    grid-row: 2;
    grid-column: 5 / span 3;
  }
  //Kontakt slut (Sabine)----------------------------------

//Fejl-404-side start (Sabine)-----------------------------
.error {
  grid-row: 3 / span 2;
  grid-column: 2 / span 4; }
//Fejl-404-side slut (Sabine)-----------------------------
}

/*Liggende tablet*/
@media screen and (min-width: 992px) {

  h3 {
    font-size: 15px;
  }

  p {
    font-size: 12pt;
  }

  //Cecilie start-----------------------------------------------------
  .i_tekst {
    width: 40%;
    font-size: 20px;
  }

  .Forhandlere {
    width: 20%;
    float: left;
    margin: 0;
    margin-left: 15%;
  }

  .Nederst {
    width: 40%;
    float: right;
    margin: 0;
    margin-right: 15%;
  }

  .informationer {
    float: right;
    font-size: 13px;
  }

  .SoMe {
    float: left;
    font-size: 35px;
  }

  footer {
    padding-top: 20px;
  }
  //Cecilie slut-----------------------------------------------------

  //Sabine start---------------------------------------------------
  .dominio-grid {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  //Sabine slut---------------------------------------------------

  //Casper start---------------------------------------------------
  .products {
    grid-row: 3;
    display: grid;
    grid-template-rows: auto auto;
  }

  .productsgrid {
    grid-row: 2;
    display: grid;
    grid-template-rows: 700px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #productstext1, #productstext2, #productstext3 {
    display: none;
  }

  .productscabernet .productstempranillo .productschardonnay {
    margin-top: 0px;
  }

  .mereomchardonnay, .mereomcabernetsauvignon, .mereomtempranillo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: Arial;
    color: white;
    background-color: $yellow;
    border-radius: 2px;
    border: none;
    width: 230px;
    height: 30px;
    text-decoration: none;
  }

  .mereomchardonnay:hover, .mereomcabernetsauvignon:hover, .mereomtempranillo:hover {
    background-color: $yellowhover;
  }

  .productscabernet {
    grid-row: 1 /span2;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  .productscabernet:hover #productstext1 {
    height: 100%;
    display: flex;
    background-color: $redoverlay;
    position: absolute;
    color: white;
    padding: 250px 60px 60px 60px;
    flex-direction: column;
    align-items: center;
  }

  .flaskecabernetsauvignont {
    height: 500px;
    margin-top: 50px;
    margin-bottom: 25px;
  }

  .productstempranillo {
    grid-row: 1 /span2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  .productstempranillo:hover #productstext2 {
    height: 100%;
    display: flex;
    background-color: $redoverlay;
    position: absolute;
    color: white;
    padding: 250px 60px 60px 60px;
    flex-direction: column;
    align-items: center;
  }

  .flasketempranillo {
    height: 500px;
    margin-top: 50px;
    margin-bottom: 25px;
  }

  .productschardonnay {
    grid-row: 1 /span2;
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  .productschardonnay:hover #productstext3 {
    height: 100%;
    display: flex;
    background-color: $redoverlay;
    position: absolute;
    color: white;
    padding: 250px 60px 60px 60px;
    flex-direction: column;
    align-items: center;
  }

  .flaskechardonnaypng {
    height: 500px;
    margin-top: 50px;
    margin-bottom: 25px;
  }

  /* VINE UNDERSIDE */
  .VINEcabernetsauvignont {
    display: grid;
    grid-row: 2;
    grid-template-rows: 507px;
    grid-template-columns: 1fr 2fr 1fr;
    background: url("../images/grapes2.jpg") center no-repeat;
  }

  .VINEflaskecabernet {
    display: flex;
    grid-row: 1;
    grid-column: 1;
  }

  .VINEtekstcabernet {
    @include tekstplaceringweb;
  }

  .VINEdropdowncabernet {
    display: flex ;
    grid-row: 1;
    grid-column: 3;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .VINEdropdowncabernetclick {
    /*color: white;
    font-family: Arial, sans-serif;
    font-size: 12pt;
    line-height: 16pt; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: Arial;
    color: white;
    background-color: $red;
    border-radius: 2px;
    border: none;
    width: 150px;
    height: 30px;
  }

  .VINEdropdowncabernetclick:hover {
    background-color: $redhover;
  }

  .VINEdropdowncabernetcontent {
    display: none;
    font-family: Arial, sans-serif;
    font-size: 0pt;
    line-height: 0pt;
    color: white;
    height: 0;
    width: 0;
    position: absolute;
    background-color: $red;
    justify-content: center;
    align-items: center;
  }

  .fa-times {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;

  }

  .VINEtempranillo {
    display: grid;
    grid-row: 3;
    grid-template-rows: 507px;
    grid-template-columns: 1fr 2fr 1fr;
  }

  .VINEflasketempranillo {
    display: flex;
    grid-row: 1;
    grid-column: 3;
  }

  .VINEteksttempranillo {
    @include tekstplaceringweb;
  }

  .VINEdropdowntempranillo {
    display: flex ;
    grid-row: 1;
    grid-column: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .VINEdropdowntempranilloclick {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: Arial;
    color: white;
    background-color: $red;
    border-radius: 2px;
    border: none;
    width: 150px;
    height: 30px;
  }

  .VINEdropdowntempranilloclick:hover {
    background-color: $redhover;
  }

  .VINEdropdowntempranillocontent {
    display: none;
    font-family: Arial, sans-serif;
    font-size: 0pt;
    line-height: 0pt;
    color: white;
    height: 0;
    width: 0;
    position: absolute;
    background-color: $red;
    justify-content: center;
    align-items: center;
  }

  .VINEchardonnay {
    display: grid;
    grid-row: 4;
    grid-template-rows: 507px;
    grid-template-columns: 1fr 2fr 1fr;
    background: url("../images/grapes7.jpg") center no-repeat;
  }

  .VINEflaskechardonnay {
    display: flex;
    grid-row: 1;
    grid-column: 1;
  }

  .VINEtekstchardonnay {
    @include tekstplaceringweb;
  }

  .VINEdropdownchardonnay {
    display: flex ;
    grid-row: 1;
    grid-column: 3;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .VINEdropdownchardonnayclick {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: Arial;
    color: white;
    background-color: $red;
    border-radius: 2px;
    border: none;
    width: 150px;
    height: 30px;
  }

  .VINEdropdownchardonnayclick:hover {
    background-color: $redhover;
  }

  .VINEdropdownchardonnaycontent {
    display: none;
    font-family: Arial, sans-serif;
    font-size: 0pt;
    line-height: 0pt;
    color: white;
    height: 0;
    width: 0;
    position: absolute;
    background-color: $red;
    justify-content: center;
    align-items: center;
  }
  //Casper slut-----------------------------------------
}

/*Computerskærm*/
@media screen and (min-width: 1200px) {
body {
  grid-template-rows: 150px auto auto auto auto 200px;
}

h1 {
  font-size: 46pt;
}

//Oliver start---------------------------------------------------
  .h_grid {
    display: grid;
    grid-template-columns: 1fr 5fr 4fr;
    height: 130px;
    padding-top: 0;
  }

  .h_logo {
    grid-row: 1;
    grid-column: 1;
    background-size: cover;
    height: 120px;
    width: 200px;
    margin: 6px 0 0 2px;
  }

  nav {
    grid-column: 2;
  }

  .dropdown {
    position: relative;
  }

  .fa-bars {
    color: #781616;
  }

  .dropdown_btn {
    display: none;
    position: absolute;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    right: 12px;
    top: 1px;
  }

  .dropdown:hover .h_content {
    display: flex;
  }

  .h_content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
    position: static;
    z-index: 3;
    min-width: 0;
    top: 0;
    right: 0;
    outline: 0;
  }

  .h_content:hover {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
    position: static;
    z-index: 3;
    min-width: 0;
    top: 0;
    right: 0;
  }

  .h_subscribe {
    grid-column: 3;
    display: flex;
    margin-top: 47px;
    justify-content: center;
  }


  .h_placeholder {
    height: 30px;
    width: 300px;
    outline: 5px auto #5d5d5d;
  }

  .h_placeholder input {
    width: 100%;
    height: 100%;
    background-color: #d5d5d5;
    color: #000000;
    padding-left: 5px;
    border: 0;
    -webkit-appearance: none;
  }
//Oliver slut-----------------------------------------------------------

//Sabine start-------------------------------------------------------
  .dominio-grid h1 {
    grid-row: 1;
    grid-column: 1 / span 4;
  }
  
    .p-mobile {
    grid-column: 2 / span 2;
  }

  //Slideshow (Casper)
  .slider-demo768og992 {
    display: none;
  }

  .slider-demo1200 {
    display: grid;
    grid-column: 2 / span 2;
    height: auto;
    width: auto;
  }

//Oliver start-----------------------------------------------
.his_grid {
  display: grid;
  grid-template-columns: 92px 1fr 92px;
  grid-template-rows: 130px 140px 50px 180px;
  height: 100%;
  width: 100%;
}

.his_head {
  grid-column: 2;
  grid-row: 1;
}
.his_head h1 {
  color: #000000;
}

.his_help {
  height: 100%;
  width: 100%;
}

.his_text1 {
  margin: 25px 200px;
}

.his_text1 {
  grid-column: 1;
}

.his_text2 {
  grid-column: 2;
}

.his_pic_flex {
  grid-column: 2;
  grid-row: 4;
  display: flex;
  justify-content: space-evenly;
  margin: 15px 190px 20px 190px;
}

  .history_read {
    grid-row: 3;
  }

.his_text_flex {
  grid-column: 2;
  grid-row: 2;
}

  .hu_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .hu_text1 {
    font-family: Arial;
    font-size: 15px;
    grid-column: 2/3;
    padding-left: 150px;
  }

    p {
      text-align: left;
    }

    .hu_grid {
      display: grid;
      grid-template-columns: 100px repeat(2, 1fr) 100px;
      grid-template-rows: 1fr;
    }

    .hu_head {
      padding-top: 15px;
    }

    .hu_pics {
      display: flex;
      grid-column: 3/4;
      flex-direction: column;
    }

    .hu_pics {
      display: flex;
      width: 100%;
      height: 350px;
      grid-column: 3/4;
      flex-direction: column;
      align-items: center;
      padding-right: 90px;
    }

    .hu_pic1, .hu_pic2, .hu_pic3 {
      height: 100%;
      width: 100%;
      /* margin: auto 3px auto 3px; */
      background-size: contain;
      margin: 2px;
      cursor: pointer;
    }

    .black {
      display: none;
      position: absolute;
      height: 171%;
      width: 100%;
      background-color: black;
      z-index: 11;
      opacity: 0.5;
      top: -150px;
    }

    @mixin full {
      display: none;
      position: fixed;
      height: 90%;
      width: 90%;
      bottom: 30px;
      left: 70px;
      z-index: 12;
    }

    .full_img1, .full_img2, .full_img3 {
      @include full;
    }

    .full_img1 {
      background: url(../images/vin1.jpg) no-repeat center;
      background-size: contain;
    }

    .full_img2 {
      background: url(../images/vin2.jpg) no-repeat center;
      background-size: contain;
    }

    .full_img3 {
      background: url(../images/vin3.jpg) no-repeat center;
      background-size: contain;
    }
    //Oliver slut--------------------------------------------

    //Fejl-404-side start (Sabine)-----------------------------
    .error-page h1 {
      font-size: 120px;
      margin: 50px 0 0 0;
    }

    .error-page h3 {
      font-size: 25px;
      margin-bottom: 0;
    }

    .error-page p {
      margin-top: 0;
    }

    .error {
      grid-row: 3 / span 2;
      grid-column: 3 / span 3;
    }
  }
//Fejl-404-side slut (Sabine)-----------------------------



/*# sourceMappingURL=index.css.map */
