// Alt der gælder for mobil og højere
$red: #781616;
$hover: #9a3d3d;


* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}



body {
  margin: 0; // Ingen kanter i siden af browser
  display: grid;
  grid-template-rows: 60px auto auto;
  grid-template-columns: 1fr;
}

$red: #781616;
$redhover: #9a3d3d;
$yellow: #f59c24;
$yellowhover: #f6d452;

$redoverlay: rgba(78, 16, 16, 0.85);


button {
  text-decoration: none;
  border: none;
  outline: none;
}

a {
  color: white;

  text-decoration: none;
}

header {
  grid-row: 1; }

.h_place {
  z-index: 10;
  position: fixed;
  width: 100%; }

.h_grid {
  background-color: white;
  height: 54px;
  padding-top: 1px; }

.h_logo {
  background-size: cover;
  height: 50px;
  width: 100px;
  margin: 6px 0 0 2px; }

#home {
  height: 100%;
  width: 100%; }

.dropdown {
  position: relative; }

.fa-bars {
  color: #781616; }

.dropdown_btn {
  position: absolute;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  right: 12px;
  top: 7px; }

.dropdown_btn:hover {
  cursor: pointer; }

.h_content {
  display: none;
  position: absolute;
  z-index: 3;
  min-width: 80%;
  top: 50px;
  right: 0;
  background-color: white;
  outline: 5px auto #5d5d5d;
}

.h_content a {
  color: black;
  padding: 10px;
  margin: auto;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  display: block;
  font-family: "Goudy Old Style", Times New Roman; }



 .h_content a:hover {
  color: #781616;
  font-weight: bold; }

.sub_button {
  text-align: center;
  font-family: Arial;
  color: white;
  background-color: $red;
  border-radius: 2px;
  border: none;
  width: 150px;
  height: 30px;
  margin-right: 15px;
}

.sub_button:hover {
  cursor: pointer;
  background-color: $redhover;
}

/*
.dropdown:hover .h_content {
  display: block; }
*/
.h_subscribe {
  display: none; }

.morphext > .animated {
  display: inline-block;
}

* {
  box-sizing: border-box;
}

/* Style the search field */
form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px white;
  float: right;
  width: 200px;
  background: #f1f1f1;
  margin-right: 60px;

}

.search{
  margin: 0 auto;
}

form.search button {
  float: right;
  width: 40px;
  padding: 10px;
  background: $red;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search button:hover {
  background: $hover;
}

/* Clear floats */
form.search::after {
  content: "";
  clear: both;
  display: table;
}

author1{
  font-size: 20px;
  font-family: "Goudy Old Style";
  color: $red;
}

author2{
  font-size: 20px;
  font-family: "Goudy Old Style";
  color: $red;
}

h1{
  font-size: 37px;
  font-family: "Goudy Old Style";
  font-weight: 200;
}


h2{
  font-family: " Goudy Old Style";
  color: $red;
  font-weight: 300;
  font-size: 20px;

}

p{
  font-family: Arial;
  font-size: 17px;
  line-height: 24px;
}


.author{
  width: 250px;
  margin: 0 auto;
  text-align: center;
}

.container{
  max-width: 960px;
  margin: 0 auto;
  background: $red;
  font-size: 24px;
  padding: 25px;
}

.parallax{
  background: url("../images/blogbillede.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 650px;
}

#info, #down {
  text-align: center;
  font-size: 18px;
  color: $hover;
  font-family: "Goudy Old Style";
}

#info {
  padding: 20px;
  display: none;
}

#info2, #down {
  text-align: center;
  font-size: 18px;
  color: $hover;
  font-family: "Goudy Old Style";
}

#info2 {
  padding: 20px;
  display: none;
}

.text{
  color: #000000;
  font-family: "Goudy Old Style";
  width: 99%;
  font-size: 55pt;
  padding-top: 320pt;
  text-align: center;
  line-height: 24pt;
}

.j_text{
  font-family: "goudy old style";
  color: black;
  width: 99%;
  font-size: 22pt;
  text-align: center;
  text-space: length(20px);
  padding-top: 8pt;
}

.b1{
  background-color: #ffffff;
  padding: 25px;
}

.b2{
  background-color: white;
  padding: 25px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

article{
  width: 80%;
  float: left;
  line-height: 50px;
  margin: auto;
}

article2 {
  width: 80%;
  float: right;
  line-height: 50px;
  margin: auto;
}

.knap{
  width: 120px;
  height: 35px;
  background-color: $red;
  font-family: Arial;
  font-size: 18px;
  color: white;
  border-radius: 5px;
}

.knap:hover{
  background-color: $hover;

}

.grid_boi {
  grid-row: 2/3;
  grid-column: 1;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

footer{
  background-color: #781616;
  color: white;
  line-height: 12pt;
  font-family: "Goudy Old Style";
  grid-row: 6;
}

.informationer{
  font-size: 12px;
  float: left;
}

.SoMe{
  float: right;
  text-align: center;
  font-size: 25px;
}

.Nederst{
  width: 75%;
  margin: 0 auto;
}

.Forhandlere{
  margin: 10% auto;
  width: 30%;
}

a:hover .visually-hidden,
a:focus .visually-hidden,
button:hover .visually-hidden,
button:focus .visually-hidden {
  position: relative;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående

  h3 {
    font-size: 15px;
  }

  p {
    font-size: 12pt;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
  }

  .flex-container2{
    float: left;
  }

  article{
    width: 50%;
    padding-left: 4%;
    padding-right: 2%
  }

  article2{
    width: 50%;
    padding-right: 4%;
    padding-left: 2%;
  }


  .author{
    width: 200px;
    margin-left: 50px;
    text-align: center;
  }


  .i_tekst {
    width: 40%;
    font-size: 20px;
  }

  .Forhandlere {
    width: 20%;
    float: left;
    margin: 0;
    margin-left: 15%;
  }

  .Nederst {
    width: 40%;
    float: right;
    margin: 0;
    margin-right: 15%;
  }

  .informationer {
    float: right;
    font-size: 13px;
  }

  .SoMe {
    float: left;
    font-size: 35px;
  }

  footer {
    padding-top: 20px;
  }

}

image:hover{
  background-color: floralwhite;
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
  .h_grid {
    display: grid;
    grid-template-columns: 1fr 5fr 4fr;
    height: 130px;
    padding-top: 0;
  }

  .h_logo {
    grid-row: 1;
    grid-column: 1;
    background-size: cover;
    height: 120px;
    width: 200px;
    margin: 6px 0 0 2px;
  }

  nav {
    grid-column: 2;
  }

  .dropdown {
    position: relative;
  }

  .fa-bars {
    color: #781616;
  }

  .dropdown_btn {
    display: none;
    position: absolute;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    right: 12px;
    top: 1px;
  }

  .dropdown:hover .h_content {
    display: flex;
  }

  .h_content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
    position: static;
    z-index: 3;
    min-width: 0;
    top: 0;
    right: 0;
    outline: 0;
  }

  .h_content:hover {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
    position: static;
    z-index: 3;
    min-width: 0;
    top: 0;
    right: 0;
  }

  .h_subscribe {
    grid-column: 3;
    display: flex;
    margin-top: 47px;
    justify-content: center;
  }


  .h_placeholder {
    height: 30px;
    width: 300px;
    outline: 5px auto #5d5d5d;
  }

  .h_placeholder input {
    width: 100%;
    height: 100%;
    background-color: #d5d5d5;
    color: #000000;
    padding-left: 5px;
    border: 0;
    -webkit-appearance: none;
  }

}

@media print {
  // Alt der gælder for print specifikt
}